{% extends "layout/base.html" %}

{% block content %}


<section class="home-page">
<div class="home-events-grid">

    {% for q in events %}
    <article class="home-event-card card">

            <div class="card-body">
                <h5 class="card-title">{{ q["nome_evento"] }}</h5>
                
                <p class="mb-1">
                    <strong>{{ q["data_evento"] }}</strong>
                </p>

                <p class="mb-3">
                    <strong>{{ q["luogo"] }}</strong>
                </p>

                <p class="mb-3">
                    <strong>Sièges disponibles : {{ q["posti_disponibili"] }}</strong>
                </p>
            </div>

            <div class="card-footer bg-white border-0">
                <a href="/reservation/{{ q.id_evento }}" class="btn btn-primary btn-reserve">
                Réserver une place
                </a>
            </div>

    </article>
    {% endfor %}

</div>
</section>

{% endblock %}
